# ================================
# Python
# ================================

__pycache__/
*.pyc
*.pyo
*.pyd

.env
venv/
.venv/


# ================================
# Jupyter Notebook
# ================================

.ipynb_checkpoints/


# ================================
# Project Data
# ================================

# Ignore generated/raw and cleaned datasets
data/raw/*
data/clean/*

# Keep placeholder files so directories remain visible on GitHub
!data/raw/.gitkeep
!data/clean/.gitkeep


# ================================
# OS / Editor Files
# ================================

.DS_Store
Thumbs.db
